@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.global {
  height: 100vh;
}

:root {
  --with-block-slider: 100px;
  --height-block-slider: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 77.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

section {
  height: 100%;
  padding-bottom: 20px;
}
section:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* h1 {
  font-weight: 900;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.1334;
  font-weight: 700;
  padding: 0 1.5rem;
} */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  h2 {
    font-size: 3.75rem;
    line-height: 1.1334;
    font-weight: 900;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 2.5rem;
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 3.75rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  min-height: auto;
  padding: 2rem 0;
}
